{% extends "base_customer.html" %} {% block content %}
<div class="container mx-auto max-w-md p-6 mt-20 font-poppins">
  <h2 class="text-2xl font-bold mb-4 text-center text-primary">
    Login Pelanggan
  </h2>
  {% if error %}
  <div class="mb-3 text-status">{{ error }}</div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <label class="block mb-2 text-primary font-semibold">Nama</label>
    <input
      type="text"
      name="name"
      class="w-full border border-primary rounded px-3 py-2 mb-4 focus:border-accent focus:ring-2 focus:ring-accent/30 transition"
      placeholder="Nama Anda"
      required
    />
    <label class="block mb-2 text-primary font-semibold">Nomor WhatsApp</label>
    <input
      type="text"
      name="phone"
      class="w-full border border-primary rounded px-3 py-2 mb-4 focus:border-accent focus:ring-2 focus:ring-accent/30 transition"
      placeholder="08xxxxxxxxxx"
      required
    />
    <button
      class="w-full btn-primary py-2 rounded font-bold text-lg shadow-md transition"
    >
      Kirim OTP
    </button>
  </form>
</div>
{% endblock %}
