{% extends "base_customer.html" %} {% block content %}
<div class="container mx-auto max-w-md p-6 mt-20">
  <h2 class="text-2xl font-bold mb-4 text-center">Login Pelanggan</h2>
  {% if error %}
  <div class="mb-3 text-red-600">{{ error }}</div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <label class="block mb-2">Nama</label>
    <input
      type="text"
      name="name"
      class="w-full border rounded px-3 py-2 mb-4"
      placeholder="Nama Anda"
      required
    />
    <label class="block mb-2">Nomor WhatsApp</label>
    <input
      type="text"
      name="phone"
      class="w-full border rounded px-3 py-2 mb-4"
      placeholder="08xxxxxxxxxx"
      required
    />
    <button class="w-full bg-blue-600 text-white py-2 rounded font-bold">
      Kirim OTP
    </button>
  </form>
</div>
{% endblock %}
