{% extends "base_customer.html" %} {% block content %}
<div class="container mx-auto max-w-md p-6 font-poppins">
  <div class="bg-white rounded-xl shadow-lg p-8 text-center">
    <h2 class="text-2xl font-bold mb-4 text-accent">Order Berhasil!</h2>
    <div class="mb-4 text-primary">
      Terima kasih, pesanan Anda telah diterima.<br />Kode Order:
      <b class="text-secondary">#{{ order.id }}</b>
    </div>
    <div class="mb-4 text-primary">
      Silahkan lakukan Pembayaran di kasir, Maka Pesanan anda dapat diproses oleh dapur.
    </div>
    <a href="/customer/order/" class="text-accent underline font-semibold"
      >Kembali ke Beranda</a
    >
  </div>
</div>
{% endblock %}
